$golden-font: "Dancing Script", cursive;
$regular-font: "Roboto", sans-serif;
$post-title-font: "Cormorant Garamond", serif;
// font-family: "Cormorant Garamond", serif;
// font-family: "Dancing Script", cursive;
// font-family: "Roboto", sans-serif;
